@media screen and (min-width: 350px) {
  body {
    max-width: 480px; }
    body .contentInfoTwo {
      visibility: hidden;
      display: none; }
  .desktop__button, .desktop__buttonTwo {
    visibility: hidden;
    display: none; } }
