body {
  font-size: 24px;
  max-width: 700px;
  height: 100vh;
  font-family: Roboto;
  line-height: 28.13px;
  text-align: start;
  margin: 0; }

header {
  display: flexbox; }

.headerIntro {
  background: #011827;
  color: #ffffff;
  width: 100%; }

.headerIntro__logo {
  float: left;
  width: 128px;
  height: 82px;
  padding-top: 26px;
  padding-left: 27px; }

#mainImage {
  height: 274px;
  width: 100%; }

button {
  width: 64%;
  height: 66px;
  font-size: 1em;
  margin: auto;
  display: block;
  border: 1px transparent; }

small {
  font-weight: 700;
  font-size: 0.67em;
  align-items: center;
  display: block;
  margin: auto;
  text-align: center;
  color: #36769d;
  text-decoration: underline #36769d;
  margin-top: 5%;
  margin-bottom: 10%; }

.contentInfoOne__text {
  display: flex;
  font-style: italic;
  width: 65%;
  text-align: start;
  margin: auto; }

.contentInfoOne img {
  width: 20%;
  float: left;
  margin-left: 5%; }

.contentInfoOne__visitorInfo {
  margin: auto;
  line-height: 0px;
  margin-bottom: 105px;
  margin-top: 4%;
  text-align: center;
  margin-left: 13%;
  justify-content: left;
  width: 100%; }

.info {
  font-size: 0.58em;
  font-weight: 400;
  line-height: 16.41px;
  align-items: right; }

p {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 21.09px;
  margin: auto;
  margin: 2% 5%; }

.article {
  font-weight: 400;
  font-size: 0.58em;
  line-height: 16.41px;
  align-items: right; }

h1 {
  display: inline-block;
  font-size: 1.2em;
  width: 30%;
  margin-left: 5%;
  padding-top: 10px; }

h2 {
  font-size: 1.33em;
  font-weight: 400;
  line-height: 37.5px;
  align-items: center;
  margin-left: 37px; }

h3 {
  font-size: 1.17em;
  font-weight: 400;
  line-height: 32.81px;
  margin: auto;
  margin-left: 5%; }

h4 {
  font-size: 1.17em;
  font-weight: 400;
  line-height: 32.81px;
  align-items: center; }

h5,
h6 {
  font-size: 1.33em;
  font-weight: 700;
  line-height: 37.5px;
  margin: 4%; }

text {
  font-size: 1em;
  font-weight: 400;
  display: block;
  margin: 4%; }

.container div {
  width: 100%;
  overflow-x: hidden; }

.userExample__button {
  background-color: #8acfe5;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 2%; }

.slideOne__img:first-child,
.slideTwo__img:first-child,
.slideThree__img:first-child {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0px 0px; }

div.slideOne {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  width: 346px;
  height: 446px;
  border-radius: 8px;
  margin-left: 10%; }

div.slideTwo {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  width: 346px;
  height: 446px;
  border-radius: 8px;
  margin-left: 20%; }

div.slideThree {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  width: 346px;
  height: 446px;
  border-radius: 8px;
  margin-left: 30%; }

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.slide__Star {
  margin-left: 7%; }

.container small {
  font-size: 0.58em;
  font-weight: 400;
  display: inline-block;
  align-items: right;
  margin-left: 2%;
  color: black;
  text-decoration: none;
  margin-bottom: 0px; }

.container button {
  display: block;
  margin-right: 1em;
  font-size: 0.66em;
  width: 45%;
  height: 40px;
  padding: 5px 5px;
  background-color: #e3170a;
  color: white;
  border-radius: 4px; }

.on-site__button {
  margin: auto;
  background-color: #8acfe5;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 1.5em; }

.theStory {
  display: block;
  text-align: center;
  background-color: #011827;
  color: white;
  margin: auto;
  width: 100%;
  height: 430px;
  border: 1px solid black;
  padding-top: 10%; }

.theStory__button {
  font-weight: 700;
  background-color: #011827;
  color: #8acfe5;
  border-radius: 4px;
  border: 2px solid #8acfe5; }

.bookOn-site__button,
.playAndSee__button {
  background-color: #e3170a;
  color: white;
  padding: 10px;
  font-weight: 700;
  border-radius: 4px;
  display: inline;
  margin: 4%;
  margin-bottom: 10%; }

footer {
  padding-top: 4%;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 21.09px;
  background-color: #011827;
  color: white;
  width: 100%;
  display: flexbox;
  border: 1px solid #011827; }

title {
  display: flex;
  font-size: 0.75em;
  font-weight: 700;
  margin: 2% 4% 0% 4%; }

a {
  font-size: 0.75em;
  display: block;
  color: white;
  text-decoration: none;
  margin: 1% 4% 0% 4%; }

.socialLinks p {
  font-weight: 700;
  margin: 4% 4% 0% 4%; }

.socialLinks a:last-child {
  padding-bottom: 3em; }

div.container {
  width: 480px;
  overflow-x: scroll; }

@media screen and (min-width: 350px) {
  body {
    margin: 0;
    padding: 0; }
    body .contentInfoTwo {
      visibility: hidden;
      display: none; }
  .desktop__button,
  .desktop__buttonTwo {
    visibility: hidden;
    display: none; }
  .headerIntro__nav {
    visibility: hidden;
    display: none; } }

@media screen and (min-width: 900px) {
  body {
    max-width: 1279px; }
  #mainImage {
    height: 80%; }
  h1 {
    width: 60%;
    margin-top: 7%;
    margin-bottom: 0; }
  h2 {
    text-align: center; }
  h3 {
    font-size: 0.8em; }
  h4 {
    width: 50%;
    margin: auto;
    margin-bottom: 5%; }
  .headerIntro__nav {
    visibility: visible;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 2%; }
  #nav-hover:hover {
    color: #8acfe5; }
  .userExample {
    display: flex; }
  .userExample__button,
  .desktop__button {
    width: 308px;
    display: inline;
    margin-top: -2%; }
  div.box {
    margin-left: 5%;
    display: flex; }
  .desktop__button {
    visibility: visible;
    display: flex;
    background-color: #e3170a;
    color: white;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    margin-left: 7%;
    margin-right: 0%;
    padding-top: 2%; }
  div.container {
    width: 100%;
    height: 60%;
    overflow-y: hidden; }
  small {
    visibility: hidden; }
  .contentInfoOne__text {
    margin-right: 0px;
    width: 55%;
    margin-left: 0px;
    line-height: normal;
    font-size: 0.8em; }
  .contentInfoOne p {
    margin-left: 0%;
    font-size: 0.6em; }
  .contentInfoOne img {
    margin: 0px; }
  .contentInfoTwo {
    visibility: visible; }
    .contentInfoTwo__text {
      width: 55%;
      line-height: normal;
      display: flex;
      font-style: italic;
      text-align: start;
      margin: auto;
      font-size: 0.8em;
      margin-left: 1%; }
    .contentInfoTwo p {
      margin-top: 1.5%;
      margin-left: 13%;
      font-size: 0.6em; }
    .contentInfoTwo img {
      width: 20%;
      float: left;
      margin-left: -8%; }
  .on-site {
    display: flex; }
    .on-site__button {
      margin-top: 7%; }
  .desktop__buttonTwo {
    visibility: visible;
    display: flex;
    background-color: #e3170a;
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 4px;
    margin-left: 20%;
    margin-right: 5%; }
  .on-site__button,
  .desktop__buttonTwo {
    width: 308px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%; }
  .container small {
    visibility: visible; }
  .container button {
    width: 50%;
    margin-left: 40%; }
  div.slideOne {
    width: 240px;
    height: 100%;
    margin-left: 5%;
    overflow-y: hidden; }
  div.slideTwo {
    width: 240px;
    height: 100%;
    margin-left: 5%;
    overflow-y: hidden; }
  div.slideThree {
    width: 240px;
    height: 100%;
    margin-left: 5%;
    overflow-y: hidden; }
  .theStory {
    width: 100%;
    text-align: center; }
  .bookOn-site {
    display: flex;
    margin: 0; }
  div.contentInfoTwo {
    visibility: visible;
    display: inline; }
  .bookOn-site img:first-child {
    width: fit-content; }
  .bookOn-site__button,
  .bookOn-site text,
  h5 {
    font-size: 1em; }
  .bookOn-site__button {
    width: 60%;
    margin-left: 20%; }
  .playAndSee img {
    width: 420px;
    float: right;
    margin-top: -4%;
    height: 55vh; }
  .playAndSee__button,
  .playAndSee__text,
  h6 {
    font-size: 1em;
    width: 40%;
    align-items: center; }
  .playAndSee__button {
    width: 30%;
    margin-top: 0;
    margin-left: 10%; }
  footer {
    display: flex; }
  .contactLinks {
    display: flexbox;
    margin: 2% 5% 2% 10%;
    width: 40%; }
    .contactLinks .contactLinks text {
      font-size: 0.7em; }
  .site-Map {
    width: 20%;
    margin-left: 6%;
    margin-right: 10%;
    margin-top: 2.5%; }
  .socialLinks {
    display: block;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flexbox;
    margin-left: 0%;
    margin-top: 1.8%; }
  .container {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 1280px) {
  body {
    max-width: 1500px; }
  #mainImage {
    height: 80%; }
  h1 {
    width: 60%;
    margin-top: 7%;
    margin-bottom: 0; }
  h2 {
    text-align: center; }
  h3 {
    font-size: 0.8em; }
  h4 {
    width: 50%;
    margin: auto;
    margin-bottom: 5%; }
  .headerIntro__nav {
    visibility: visible;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 2%; }
  #nav-hover:hover {
    color: #8acfe5; }
  .userExample {
    display: flex; }
  .userExample__button,
  .desktop__button {
    width: 308px;
    display: inline;
    margin-top: -2%; }
  div.box {
    margin-left: 5%;
    display: flex; }
  .desktop__button {
    visibility: visible;
    display: flex;
    background-color: #e3170a;
    color: white;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    margin-left: 7%;
    margin-right: 0%;
    padding-top: 2%; }
  div.container {
    width: 100%;
    height: 60%;
    overflow-y: hidden; }
  small {
    visibility: hidden; }
  .contentInfoOne__text {
    margin-right: 0px;
    width: 55%;
    margin-left: 0px;
    line-height: normal;
    font-size: 0.8em; }
  .contentInfoOne p {
    margin-left: 0%;
    font-size: 0.6em; }
  .contentInfoOne img {
    margin: 0px; }
  .contentInfoTwo {
    visibility: visible; }
    .contentInfoTwo__text {
      width: 55%;
      line-height: normal;
      display: flex;
      font-style: italic;
      text-align: start;
      margin: auto;
      font-size: 0.8em;
      margin-left: 1%; }
    .contentInfoTwo p {
      margin-top: 1.5%;
      margin-left: 13%;
      font-size: 0.6em; }
    .contentInfoTwo img {
      width: 20%;
      float: left;
      margin-left: -8%; }
  .on-site {
    display: flex; }
    .on-site__button {
      margin-top: 7%; }
  .desktop__buttonTwo {
    visibility: visible;
    display: flex;
    background-color: #e3170a;
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 4px;
    margin-left: 20%;
    margin-right: 5%; }
  .on-site__button,
  .desktop__buttonTwo {
    width: 308px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%; }
  .container small {
    visibility: visible; }
  .container button {
    width: 50%;
    margin-left: 40%; }
  div.slideOne {
    width: 240px;
    height: 100%;
    margin-left: 5%;
    overflow-y: hidden; }
  div.slideTwo {
    width: 240px;
    height: 100%;
    margin-left: 5%;
    overflow-y: hidden; }
  div.slideThree {
    width: 240px;
    height: 100%;
    margin-left: 5%;
    overflow-y: hidden; }
  .theStory {
    width: 100%;
    text-align: center; }
  .bookOn-site {
    display: flex;
    margin: 0; }
  div.contentInfoTwo {
    visibility: visible;
    display: inline; }
  .bookOn-site img:first-child {
    width: fit-content; }
  .bookOn-site__button,
  .bookOn-site text,
  h5 {
    font-size: 1em; }
  .bookOn-site__button {
    width: 60%;
    margin-left: 20%; }
  .playAndSee img {
    width: 70vh;
    float: right;
    margin-top: -4%; }
  .playAndSee__button,
  .playAndSee__text,
  h6 {
    font-size: 1em;
    width: 40%;
    align-items: center; }
  .playAndSee__button {
    width: 30%;
    margin-top: 0;
    margin-left: 10%; }
  footer {
    display: flex; }
  .contactLinks {
    display: flexbox;
    margin: 2% 5% 2% 10%;
    width: 40%; }
    .contactLinks .contactLinks text {
      font-size: 0.7em; }
  .site-Map {
    width: 20%;
    margin-left: 6%;
    margin-right: 10%;
    margin-top: 2.5%; }
  .socialLinks {
    display: block;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flexbox;
    margin-left: 0%;
    margin-top: 1.8%; }
  .container {
    display: none;
    visibility: hidden; } }

@media screen and (min-width: 900px) {
  body {
    max-width: 1500px; }
  .containerMob {
    display: none;
    visibility: hidden; }
  .closeMenu {
    display: none;
    visibility: hidden; }
  #navMob {
    display: none;
    visibility: hidden;
    background-color: #011827;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }
  li a {
    width: 10rem;
    padding-right: 10%; }
  .MainMenu {
    display: flex;
    list-style: none;
    display: none;
    visibility: hidden; }
  .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    display: none;
    visibility: hidden;
    color: white;
    font-size: 1.5rem; }
  .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    display: none;
    visibility: hidden; }
  #boxMob {
    margin: 6px;
    font-size: 25px;
    display: none; }
  .headerIntro {
    z-index: 0; } }

@media screen and (min-width: 350px) {
  .containerMob {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0; }
  .mainMenu {
    color: #011827;
    display: flex;
    align-self: center;
    justify-content: start;
    flex-direction: column;
    z-index: 1;
    width: 80%;
    height: 90vh;
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    animation-name: fadeIn;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0); }
  @keyframes fadeIn {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  .closeMenu {
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
    margin: 1rem;
    padding: 1rem; }
  .openMenu {
    float: right;
    margin: 0.5em;
    padding: 1em; }
  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 50%;
    padding: 2rem;
    margin: 1rem; }
  ul {
    display: flex;
    background-color: #011827;
    font-size: 1.5rem; }
  #navMob {
    backdrop-filter: blur(6px); } }
