@mixin visibility {
  visibility: visible;
  display: flex;
}

@mixin colorRed {
  background-color: rgba(227, 23, 10, 1);
}

@mixin slide {
  width: 240px;
  height: 100%;
  margin-left: 5%;
  overflow-y: hidden;
}

@media screen and (min-width: 900px) {
  body {
    max-width: 1279px;
    
  }
  #mainImage {
    height: 80%;
  }

  h1 {
    width: 60%;
    margin-top: 7%;
    margin-bottom: 0;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-size: 0.8em;
  }

  h4 {
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
  }

  .headerIntro__nav {
    @include visibility;
    margin-top: 5%;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 2%;
  }

  #nav-hover:hover {
    color: rgba(138, 207, 229, 1);
  }

  .userExample {
    display: flex;
  }

  .userExample__button,
  .desktop__button {
    width: 308px;
    display: inline;
    margin-top: -2%;
  }

  div.box {
    margin-left: 5%;
    display: flex;
  }

  .desktop__button {
    @include visibility;
    @include colorRed;
    color: white;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    margin-left: 7%;
    margin-right: 0%;
    padding-top: 2%;
  }

  div.container {
    width: 100%;
    height: 60%;
    overflow-y: hidden;
  }
  small {
    visibility: hidden;
  }

  .contentInfoOne {
    &__text {
      margin-right: 0px;
      width: 55%;
      margin-left: 0px;
      line-height: normal;
      font-size: 0.8em;
    }

    p {
      margin-left: 0%;
      font-size: 0.6em;
    }

    img {
      margin: 0px;
    }
  }

  .contentInfoTwo {
    visibility: visible;

    &__text {
      width: 55%;
      line-height: normal;
      display: flex;
      font-style: italic;
      text-align: start;
      margin: auto;
      font-size: 0.8em;
      margin-left: 1%;
    }

    p {
      margin-top: 1.5%;
      margin-left: 13%;
      font-size: 0.6em;
    }

    img {
      width: 20%;
      float: left;
      margin-left: -8%;
    }
  }

  .on-site {
    display: flex;

    &__button {
      margin-top: 7%;
    }
  }

  .desktop__buttonTwo {
    @include visibility;
    @include colorRed;
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 4px;
    margin-left: 20%;
    margin-right: 5%;
  }

  .on-site__button,
  .desktop__buttonTwo {
    width: 308px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }

  .container {
    small {
      visibility: visible;
    }
    button {
      width: 50%;
      margin-left: 40%;
    }
  }

  div.slideOne {
    @include slide;
  }

  div.slideTwo {
    @include slide;
  }

  div.slideThree {
    @include slide;
  }

  .theStory {
    width: 100%;
    text-align: center;
  }

  .bookOn-site {
    display: flex;
    margin: 0;
  }

  div.contentInfoTwo {
    visibility: visible;
    display: inline;
  }

  .bookOn-site img:first-child {
    width: fit-content;
  }

  .bookOn-site__button,
  .bookOn-site text,
  h5 {
    font-size: 1em;
  }

  .bookOn-site__button {
    width: 60%;
    margin-left: 20%;
  }

  .playAndSee {
    img {
      width: 420px;
      float: right;
      margin-top: -4%;
      height: 55vh;
    }
  }

  .playAndSee__button,
  .playAndSee__text,
  h6 {
    font-size: 1em;
    width: 40%;
    align-items: center;
  }

  .playAndSee__button {
    width: 30%;
    margin-top: 0;
    margin-left: 10%;
  }

  footer {
    display: flex;
  }

  .contactLinks {
    display: flexbox;
    margin: 2% 5% 2% 10%;
    width: 40%;

    .contactLinks text {
      font-size: 0.7em;
    }
  }

  .site-Map {
    width: 20%;
    margin-left: 6%;
    margin-right: 10%;
    margin-top: 2.5%;
  }

  .socialLinks {
    display: block;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flexbox;
    margin-left: 0%;
    margin-top: 1.8%;
  }
}